/**
 * All of the SASS for your admin-specific functionality should be
 * included in this file.
 */

.post-type-employee {

	.show {
		display: block;
	}

	.hide {
		display: none;
	}
	.wrap-radios {
		max-height: 175px;
		overflow-y: scroll;
	}

	.title-text {
		font-size: 1.7em;
	}

	.first-name,
	.last-name {
		width: 100%;

		@media only screen and (min-width: 1100px) {
			width: 33%;
		}
	}

	.honorific {
		font-size 		: 1.375em;
		height 			: 38px;
		vertical-align 	: top;
		width 			: 100%;

		@media only screen and (min-width: 1100px) {
			width: 16%;
		}
	}
}

.employees_page_employees-help {
	ul li {
		list-style 	: disc;
		margin-left : 1.5em;
	}
}

.column-headshot {
	width: 12%;

	@media only screen and (max-width: 782px) {
		display: none !important;
	}
}

.wp-list-table .is-expanded td.column-headshot {
	@media only screen and (max-width: 782px) {
		display: none !important;
	}
}
