/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.show {
	display: block;
}

.hide {
	display: none;
}

.employees_page_employees-help {
	ul li {
		list-style: disc;
		margin-left: 1.5em;
	}
}

.wrap-radios {
	max-height: 175px;
	overflow-y: scroll;
}